.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav img{
    height: 60px;
    margin-top: 15px;
}