.landing_container {
    position: relative;
    overflow: hidden !important ;
  }
.landing_video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.overlay_text {
  position: absolute;
  top: 92%;
  left: 91%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background-color: black;
  padding: .5rem 1rem;
}
